@font-face {
  font-family: 'cinzel';
  src: url(../fonts/cinzel_regular.ttf);
  font-weight: normal;
  font-style: normal;
  font-display: swap; 
}
@font-face {
 font-family: 'anastasia';
 src: url('../fonts/ofont.ru_Anastasia.woff') format('woff'),
  url('../fonts/ofont.ru_Anastasia.otf') format('opentype');
 font-weight: normal;
 font-style: normal;
 font-display: swap;
}

:root {
  font-family: cinzel, serif;
  font-size: 5.8vw;
  line-height: 10.2vw;
  font-weight: 400;
  text-align: center;
}
:root p {
  padding-left: 2vw;
  padding-right: 2vw;
}
header{
  width: 100%;
  height:216vw;
  background-image: url('../images/pic1.jpg');
  background-size: 350%;
  background-position: center 20%;
  color: #faf7f4;
  position: relative;
}
#devise{
  color: rgba(250, 247, 244, 1);
  font-family: cinzel;
  font-size: 7.7vw;
  padding-top: 8vw;
} 
header h1{
  font-size: 14vw;
  font-weight: 400;
  margin-bottom: 2vwpx;
  letter-spacing: 0;
  line-height: 100%;
}
header h2{
  margin-top: 0;
  font-family: 'anastasia';
  font-size: 11.5vw ;
}
.header-bottom-block{
position: absolute;
bottom: 0%;
left: 50%;
transform: translateX(-50%);
}

#intro p{
  font-size: 4.6vw;
  line-height: 10.2vw;
}
.firstIntroBlock{
  background-color: rgba(143, 169, 140, 0.25);
  border-radius: 150vw 150vw 0 0;
  padding-top: 2vw;
}
.love-elegance{
  list-style: none;
  padding: 0;
  color: #1E3B22;
  font-family: anastasia;
  font-size: 11.5vw;
  line-height: 100%;
  letter-spacing: 5%;

}
.firstPicBlock{
  position: relative;
  width: 100%;
  height: 180vw;
}
#pic2, #pic3, #pic4, #pic5, #pic8, #pic9, #pic11, #pic12{
  width: 60%;
  border: 4vw solid white;
  border-radius: 5px;
  position: absolute;
}
#pic2, #pic4, #pic8, #pic11{
  transform: rotate(-7deg);
  left:5%;
  top:5%;
}
#pic3, #pic5, #pic9, #pic12{
  transform:rotate(7deg);
  bottom:5%;
  right:6%
}
.secondPicBlock{
  position: relative;
  width: 100%;
  height: 105vw;
  background-color: rgba(143, 169, 140, 0.25);
}

.colors-block{
  display: flex;
  width: 93%;
  margin: 0 auto;
  justify-content: space-between;
}
.color{
  width: 13vw;
  height: 13vw;
  border-radius: 50%;
}
#color1{
  background: #D3B694;
}
#color2{
  background: #D6A19B;
}
#color3{
  background: #7E242D;
}
#color4{
  background: #5C331D;
}
#color5{
  background: #56775A;
}
#color6{
  background: #8FA98C;
}
.rules h3, .details h3{
  font-family: anastasia;
  font-size: 10.8vw;
  font-weight: 400;
}
.rulesPicBlock{
  position: relative;
  width: 100%;
  height: 110vw;
  background-color: rgba(143, 169, 140, 0.25);
}
.rulesPicBlock img{
  width: 42% !important;
}
.details p{
  font-size: 4.6vw;
}
.dirtyGreenBlock{
  color: #FAF7F4;
  padding-bottom: 16vw ;
  height: auto;
  background-color: #8fa98c;
}
.dirtyGreenBlock p:last-child{
  margin-bottom: 0;
}
.InvitationPicBlock{
  position: relative;
  width: 100%;
  height: 150vw;
  background-color: rgba(143, 169, 140, 0.25);
}


.olive{
  width: 25vw;
}
#pic10, #pic13{
  width: 100%;
  height: auto;
}
.qr-cat{
  width: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
}
#gn-logo{
  width: 30%;
  margin-top: 10px;
  margin-bottom: 10px;
}


form {
display: flex;
flex-direction: column;
gap: 20px;
justify-content: center;
width: 87%;
margin: 0 auto;
}
form input, form button {
  box-sizing: border-box;
  width: 100%;
  border: 2px solid #8fa98c;
  color: #8fa98c;
  text-align: center;
}
form button {
  background-color: #8fa98c;
  color: white;
}
